<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/styles.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" type="text/css" />
  <script src = "/socket.io/socket.io.js"></script>
   
  <title>Log out</title>
</head>
<body>
    <h1>Hasta luego {{name}}</h1>
</body>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" ></script>
<script src="/static/scripts.js"></script>
<script src="/static/bye.js"></script>
</html>